<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home | EDEC</title>
        {% load staticfiles %}
        <!-- core CSS -->
        <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="{% static 'global/js/html5shiv.js' %}"></script>
        <script src="{% static 'global/js/respond.min.js' %}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{% static 'global/images/ico/favicon.ico' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'global/images/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'global/images/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'global/images/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'global/css/images/ico/apple-touch-icon-57-precomposed.png' %}">
        </head><!--/head-->
        <body class="homepage">
            <header id="header">
                <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{%  url 'index' %}"><img src="{% static 'global/images/edeclogo.png' %}" alt="logo"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{%  url 'index' %}">Home</a></li>
                                <li><a href="{%  url 'product:search' %}">Products</a></li>
                                <li><a href="{%  url 'company:search' %}">Companies</a></li>
                                {% if request.user.is_authenticated %}
                                   <li><a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">My account</a></li>
                                {% else %}
                                   <li><a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        </div><!--/.container-->
                        </nav><!--/nav-->
                        </header><!--/header-->
                        <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <br>
                                    <div class="bs-example bs-example-tabs">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                                            <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                                        </ul>
                                    </div>
                                    <div class="modal-body">
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="signin">
                                                <form class="form-horizontal">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            Login via
                                                            <div class="social-buttons">
                                                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                                                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                                            </div>
                                                            or
                                                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                                <div class="form-group">
                                                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                                    <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox"> keep me logged-in
                                                                    </label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="signup">
                                                <form class="form-horizontal">
                                                    <fieldset>
                                                        <!-- Sign Up Form -->
                                                        <!-- Text input-->
                                                        <div class="control-group">
                                                            <label class="control-label" for="Email">Email:</label>
                                                            <div class="controls">
                                                                <input id="Email" name="Email" class="form-control" type="text" placeholder="ivona.chili@gmail.com" class="input-large" required="">
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="control-group">
                                                            <label class="control-label" for="userid">Alias:</label>
                                                            <div class="controls">
                                                                <input id="userid" name="userid" class="form-control" type="text" placeholder="ivo" class="input-large" required="">
                                                            </div>
                                                        </div>
                                                        <!-- Password input-->
                                                        <div class="control-group">
                                                            <label class="control-label" for="password">Password:</label>
                                                            <div class="controls">
                                                                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                                                <em>1-8 Characters</em>
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="control-group">
                                                            <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                                            <div class="controls">
                                                                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                                            </div>
                                                        </div>
                                                        <!-- Button -->
                                                        <div class="control-group">
                                                            <label class="control-label" for="confirmsignup"></label>
                                                            <div class="controls">
                                                                <button id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-block">Sign Up</button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <center>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
<section id="error" class="container text-center" style="padding-top: 200px;">
        <h1>{{ code }}, {{ message }}</h1>
        <p>{{ extended_message }}</p>
        <a class="btn btn-primary" href= {% url 'index' %} >BACK TO HOMEPAGE</a>
    </section><!--/#error-->
                                                                                                                            </footer><!--/#footer-->
                                                                                                                            <script src="{% static 'global/js/jquery.js' %}"></script>
                                                                                                                            <script src="{% static 'global/js/bootstrap.min.js' %}"></script>
                                                                                                                            <script src="{% static 'global/js/jquery.prettyPhoto.js' %}"></script>
                                                                                                                            <script src="{% static 'global/js/jquery.isotope.min.js' %}"></script>
                                                                                                                            <script src="{% static 'global/js/main.js' %}"></script>
                                                                                                                            <script src="{% static 'global/js/wow.min.js' %}"></script>
                                                                                                                        </body>
                                                                                                                    </html>

