{% extends "base.html" %}
{% load staticfiles %}
{% block home_active %} class="active"{% endblock %}
{% block content %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active"
                     style="background-image: url({% static 'global/images/slider/tablefood.jpg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Find your favourite products!</h1>
                                    <h2 class="animation animated-item-2">Here you will be able to implement your choices next time you'll go for the groceries</h2>
                                    <!-- <a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static 'global/images/slider/fruits.png' %}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url({% static 'global/images/slider/elec.jpg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Search by your favourite traits</h1>
                                    <h2 class="animation animated-item-2">Every product has its own characteristics and you will be able to find what suits you the best</h2>
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static 'global/images/slider/img2.png' %}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url({% static 'global/images/slider/elec.jpg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Or by your favourite ideologies</h1>
                                    <h2 class="animation animated-item-2">Companies will have though time next time you'll be around</h2>
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static 'global/images/slider/img2.png' %}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>EDEC | Ethic DEcisions for Consummers</h2>
                <p class="lead">This application will aid you in choosing the right product in your life. By adapting to its flow, you will be able to find products and companies according to your likes and dislikes</p>
            </div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-search"></i>
                            <h2>Search</h2>
                            <h3>Find your facourite products or companies</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-thumbs-up"></i>
                            <h2>Positive traits and ideologies</h2>
                            <h3>Choose what you like</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-thumbs-down"></i>
                            <h2>Negative traits and idelogies</h2>
                            <h3>Choose what you dislike</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-user"></i>
                            <h2>Find similar users that like the same products!</h2>
                            <h3>You may find friends in here</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comment"></i>
                            <h2>Leave reviews to products and companies</h2>
                            <h3>You can engage in lustfull &nbsp&nbsp&nbsp&nbsp conversations</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-pencil"></i>
                            <h2>Add new traits and idelogies</h2>
                            <h3>Everything is in your hand</h3>
                        </div>
                    </div>
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Companies and Ideologies</h2>
                <p class="lead">You can cast your vote upon enlarging or banishing ideologies</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'global/images/portfolio/recent/id5.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using injected Food</a></h3>
                                <!--<p> bla bla</p>
                                                                                                            <a class="preview" href="{% static 'global/images/portfolio/full/id1.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'global/images/portfolio/recent/id2.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using children slavery</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'global/images/portfolio/recent/id3.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using racial harrassmment </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'global/images/portfolio/recent/id4.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using hexane processed soy products </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/id5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using animal testing</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/id6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using palm oil tree </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/id7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies supporting cruelty-free </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/id8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Companies using chemical-free cosmetics </a></h3>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->
    <section id="services" class="service-item">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Products and Traits</h2>
                <p class="lead">Choose what you like and find more things alike</p>
            </div>
            <!--<div class="media services-wrap wow fadeInDown">
                <div class="pull-left">
                    <img class="img-responsive" src="images/services/services1.png">
                </div>
                <div class="media-body">
                    <h3 class="media-heading">1</h3>
                    <p>Descriere</p>
                </div>
            </div>-->
            <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="media-body">
                    <div class="nav nav-justified navbar-nav">
                        <form class="navbar-form navbar-search" role="search" method="GET" action="{% url 'product:search' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" name="query">
                                <input type="hidden" name="page" value="1">
                                <input type="hidden" name="subcategory" value="All Subcategories">
                                <input type="hidden" name="category" value="1">
                                <input type="hidden" name="order" value="Alphabetic Ascending">
                                <input type="hidden" name="token_from" value="0">
                                <input type="hidden" name="token_to" value="10000">
                                <div class="input-group-btn">
                                    <button type="submit" name="submit" value="1" class="btn btn-search btn-danger">
                                        <span class="glyphicon glyphicon-search"></span>
                                        <span class="label-icon">Search</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->
    <
    <section id="conatcat-info">
        <div class="container">
            <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="media-body">
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->
    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Top Companies</h2>
                <p class="lead">Chosen based on users feedback</p>
            </div>
            <div class="partners">
                <ul>
                    <li><a href="{% url 'company:details' comp_id=428 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="300ms"
                                         src="{% static 'global/images/partners/cocacola.png' %}"></a></li>
                    <li><a href="{% url 'company:details' comp_id=83 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="600ms"s
                                         src="{% static 'global/images/partners/applelogo.png' %}"></a></li>
                    <li><a href="{% url 'company:details' comp_id=1652 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="900ms"
                                         src="{% static 'global/images/partners/pringleslogo.png' %}"></a></li>
                    <li><a href="{% url 'company:details' comp_id=1652 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="1200ms"
                                         src="{% static 'global/images/partners/samsung.png' %}"></a></li>
                    <li><a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="1500ms"
                                         src="{% static 'global/images/partners/nike.png' %}"></a>
                    </li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->
{% endblock %}