{% extends "base.html" %}
{% load staticfiles %}

{#{% block extra_head %}#}
{#            <link href="{% static 'global/css/myAccount.css' %}" rel="stylesheet">#}
{#{% endblock %}#}


{#<head>#}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My account | EDEC</title>

    <!-- core CSS -->
    <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/myAccount.css' %}" rel="stylesheet">

    <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144.4" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}
{% block account_active %} class="active" {% endblock %}
{% block content %}
    <section id="blog" class="container">


        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms"
             style="padding-top:100px;">


            <div class="panel with-nav-tabs panel-danger">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1danger" data-toggle="tab">Profile Information</a>
                        </li>
                        <li><a href="#tab2danger" data-toggle="tab">Preferences</a>
                        </li>

                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <!-- Personal information -->
                        <div class="tab-pane fade in active" id="tab1danger">
                            <h1 style="color: black;">Edit Profile</h1>
                            <hr>
                            <div class="row">
                                <!-- left column -->
                                <div class="col-md-3">
                                    <div class="text-center" style="width: 220px; height: 200px;">
                                        {#                                        <img src="images/slider/rihanna.jpg" class="avatar img-circle" alt="avatar"#}
                                        {#                                             style="width: 100%; height: 100%;">#}
                                        {% load avatar_tags %}
                                        {% avatar user 200 class="img-circle" alt="avatar" id="user_avatar" %}
                                        <h6>Upload a different photo...</h6>

                                        <input type="file" class="form-control">
                                    </div>
                                </div>

                                <!-- edit form column -->
                                <div class="col-md-9 personal-info">

                                    <h3>Personal info</h3>
                                    <form class="form-horizontal" role="form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">First name:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" value="{{ user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Last name:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" value="{{ user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Username</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" value="{{ user.username }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" value="{{ user.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Date of Birth:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text"
                                                       value="{{ user.profile.birth_date }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Country:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" value="Romania">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">City:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" value="">
                                            </div>
                                        </div>
{#                                        {% load bootstrap %}#}
{#                                        {{ form | bootstrap_horizontal : 'col-lg-3'}}#}
{#                                        {{ form | bootstrap_horizontal : 'col-lg-3'}}#}
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Password:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Confirm password:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="button" class="btn btn-primary" value="Save Changes">
                                                <span></span>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--Preferences -->
                        <div class="tab-pane" id="tab2danger">
                            <div>
                                <h1 style="color: black;">Ideologies</h1>
                                <hr>
                                <div class="row">
                                    <!-- left column -->
                                    <div class="col-md-4">
                                        <h4> Add and like the ideologies you love in order to see the
                                            products related <br> OR <br> Add and dislike the idelogies whose
                                            products you want to avoid. <br> OR <br> You can even add your own
                                            customized ideology.
                                            </h4>
                                    </div>


                                    <div class="col-md-8 personal-info">

                                        <div class="panel with-nav-tabs panel-danger" style="height: 750px;">
                                            <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tabCompany1" data-toggle="tab">Existent
                                                        Ideologies</a>
                                                    </li>

                                                    <li><a href="#tabCompany2" data-toggle="tab">Add Custom Ideology</a>
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class="panel-body">


                                                <div class="tab-content">

                                                    <div class="tab-pane fade in active" id="tabCompany1">
                                                        <h1 style="color: black;">Ideologies</h1>
                                                        <hr>

                                                        <form method="post" id="formIde">

                                                            <input type="hidden" id="hiddenIde" name="hiddenIde"
                                                                   value="">


                                                            <div class="pricing-table pricing-three-column row">
                                                                <div class="plan col-sm-4 col-lg-6 todolist">
                                                                    <div class="plan-name-bronze">
                                                                        <h2>Ideologies I Like</h2>
                                                                        <i class="fa fa-thumbs-o-up fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>

                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="poside">
                                                                        <li class="plan-feature">Ideology 1
                                                                            <button class="remove-item btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 2
                                                                            <button class="remove-item btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 3
                                                                            <button class="remove-item btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div style="z-index:55;"
                                                                     class="plan col-sm-4 col-lg-6 todolist">
                                                                    <div class="plan-name-silver">
                                                                        <h2>Ideologies I Dislike</h2>
                                                                        <i class="fa fa-thumbs-down fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>
                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="negide">
                                                                        <li class="plan-feature">Ideology 5
                                                                            <button class="remove-item btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 6
                                                                            <button class="remove-item btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>


                                                                <div style="width: 700px;">
                                                                    <div class="btn-group testpos"
                                                                         style="padding-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:255px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-poside" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>

                                                                    </div>
                                                                    <div class="btn-group testneg"
                                                                         style="margin-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:250px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-negide" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>
                                                                    </div>

                                                                    <button id="submitIde" class="btn btn-danger"
                                                                            required="required" type="submit"
                                                                            style="width:250px; margin-left: 150px; margin-top: 20px;">
                                                                        Submit Changes
                                                                    </button>


                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="tab-pane" id="tabCompany2">

                                                        <div id="contact-page clearfix">
                                                            <div class="status alert alert-success"
                                                                 style="display: none"></div>
                                                            <div class="message_heading">
                                                                <h2 class="related-products-title"
                                                                    style="color: #c52d2f;">Fill in this form with your
                                                                    motivation of addding a new IDEOLOGY</h2>
                                                            </div>

                                                            <form id="main-contact-form" class="contact-form"
                                                                  name="contact-form" method="post"
                                                                  action="sendemail.php" role="form">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label>Message *</label>
                                                                            <textarea name="message" id="message"
                                                                                      required="required"
                                                                                      class="form-control"
                                                                                      rows="20"></textarea>
                                                                            <input type="checkbox" name="checkide"
                                                                                   value="checkide"> Receive an approval
                                                                            through E-mail<br>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <button id="submitIdeology"
                                                                                    class="btn btn-danger"
                                                                                    required="required" type="submit"
                                                                                    style="width:250px; margin-left: 250px; margin-top: 20px;">
                                                                                Submit Changes
                                                                            </button>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div style="padding-top: 100px;">
                                <h1 style="color: black;">Products</h1>


                                <hr>
                                <div class="row">
                                    <!-- left column -->
                                    <div class="col-md-4">
                                        <h4> Add and like the ideologies you love in order to see the
                                            products related <br> OR <br> Add and dislike the idelogies whose
                                            products you want to avoid. <br> OR <br> You can even add your own
                                            customized ideology.
                                            </h4>
                                    </div>


                                    <div class="col-md-8 personal-info">

                                        <!-- Product Categories with their traits -->

                                        <div class="panel with-nav-tabs panel-danger">
                                            <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tabCategory1"
                                                                          data-toggle="tab">Food</a>
                                                    </li>
                                                    <li><a href="#tabCategory2" data-toggle="tab">Clothes and
                                                        Accesories</a>
                                                    </li>
                                                    <li><a href="#tabCategory3" data-toggle="tab">Electronics</a>
                                                    </li>
                                                    <li><a href="#tabCategory4" data-toggle="tab">Home and Gardening</a>
                                                    </li>
                                                    <li><a href="#tabCategory5" data-toggle="tab">Add Custom Trait</a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="tab-content">


                                                    <div class="tab-pane fade in active" id="tabCategory1">
                                                        <h1 style="color: black;">Food Traits</h1>
                                                        <hr>

                                                        <form method="post" id="formftra">

                                                            <input type="hidden" id="hiddenftra" name="hiddenftra"
                                                                   value="">


                                                            <div class="pricing-table pricing-three-column row">
                                                                <div class="plan col-sm-4 col-lg-6 toFood">
                                                                    <div class="plan-name-bronze">
                                                                        <h2>Traits I Like</h2>
                                                                        <i class="fa fa-thumbs-o-up fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>

                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="posftra">
                                                                        <li class="plan-feature">Ideology 1
                                                                            <button class="remove-food btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 2
                                                                            <button class="remove-food btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 3
                                                                            <button class="remove-food btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div style="z-index:55;"
                                                                     class="plan col-sm-4 col-lg-6 toFood">
                                                                    <div class="plan-name-silver">
                                                                        <h2>Traits I Dislike</h2>
                                                                        <i class="fa fa-thumbs-down fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>
                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="negftra">
                                                                        <li class="plan-feature">Ideology 5
                                                                            <button class="remove-food btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 6
                                                                            <button class="remove-food btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>


                                                                <div style="width: 700px;">
                                                                    <div class="btn-group testposf"
                                                                         style="padding-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:255px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-posftra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>

                                                                    </div>
                                                                    <div class="btn-group testnegf"
                                                                         style="margin-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:250px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-negftra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>
                                                                    </div>

                                                                    <button id="submitftra" class="btn btn-danger"
                                                                            required="required" type="submit"
                                                                            style="width:250px; margin-left: 150px; margin-top: 20px;">
                                                                        Submit Changes
                                                                    </button>


                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="tab-pane" id="tabCategory2">
                                                        <h1 style="color: black;">Clothes Traits</h1>
                                                        <hr>

                                                        <form method="post" id="formctra">

                                                            <input type="hidden" id="hiddenctra" name="hiddenctra"
                                                                   value="">


                                                            <div class="pricing-table pricing-three-column row">
                                                                <div class="plan col-sm-4 col-lg-6 toClothes">
                                                                    <div class="plan-name-bronze">
                                                                        <h2>Traits I Like</h2>
                                                                        <i class="fa fa-thumbs-o-up fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>

                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="posctra">
                                                                        <li class="plan-feature">Ideology 1
                                                                            <button class="remove-clothes btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 2
                                                                            <button class="remove-clothes btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 3
                                                                            <button class="remove-clothes btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div style="z-index:55;"
                                                                     class="plan col-sm-4 col-lg-6 toClothes">
                                                                    <div class="plan-name-silver">
                                                                        <h2>Traits I Dislike</h2>
                                                                        <i class="fa fa-thumbs-down fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>
                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="negctra">
                                                                        <li class="plan-feature">Ideology 5
                                                                            <button class="remove-clothes btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 6
                                                                            <button class="remove-clothes btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>


                                                                <div style="width: 700px;">
                                                                    <div class="btn-group testposc"
                                                                         style="padding-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:255px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-posctra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>

                                                                    </div>
                                                                    <div class="btn-group testnegc"
                                                                         style="margin-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:250px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-negctra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>
                                                                    </div>

                                                                    <button id="submitctra" class="btn btn-danger"
                                                                            required="required" type="submit"
                                                                            style="width:250px; margin-left: 150px; margin-top: 20px;">
                                                                        Submit Changes
                                                                    </button>


                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="tab-pane" id="tabCategory3">
                                                        <h1 style="color: black;">Electronics Traits</h1>
                                                        <hr>

                                                        <form method="post" id="formetra">

                                                            <input type="hidden" id="hiddenetra" name="hiddenetra"
                                                                   value="">


                                                            <div class="pricing-table pricing-three-column row">
                                                                <div class="plan col-sm-4 col-lg-6 toElec">
                                                                    <div class="plan-name-bronze">
                                                                        <h2>Traits I Like</h2>
                                                                        <i class="fa fa-thumbs-o-up fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>

                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="posetra">
                                                                        <li class="plan-feature">Ideology 1
                                                                            <button class="remove-e btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 2
                                                                            <button class="remove-e btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 3
                                                                            <button class="remove-e btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div style="z-index:55;"
                                                                     class="plan col-sm-4 col-lg-6 toElec">
                                                                    <div class="plan-name-silver">
                                                                        <h2>Traits I Dislike</h2>
                                                                        <i class="fa fa-thumbs-down fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>
                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="negetra">
                                                                        <li class="plan-feature">Ideology 5
                                                                            <button class="remove-e btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 6
                                                                            <button class="remove-e btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>


                                                                <div style="width: 700px;">
                                                                    <div class="btn-group testpose"
                                                                         style="padding-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:255px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-posetra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>

                                                                    </div>
                                                                    <div class="btn-group testnege"
                                                                         style="margin-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:250px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-negetra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>
                                                                    </div>

                                                                    <button id="submitetra" class="btn btn-danger"
                                                                            required="required" type="submit"
                                                                            style="width:250px; margin-left: 150px; margin-top: 20px;">
                                                                        Submit Changes
                                                                    </button>


                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="tab-pane" id="tabCategory4">
                                                        <h1 style="color: black;">Home and Gardening Traits</h1>
                                                        <hr>

                                                        <form method="post" id="formhtra">

                                                            <input type="hidden" id="hiddenhtra" name="hiddenhtra"
                                                                   value="">


                                                            <div class="pricing-table pricing-three-column row">
                                                                <div class="plan col-sm-4 col-lg-6 toHome">
                                                                    <div class="plan-name-bronze">
                                                                        <h2>Traits I Like</h2>
                                                                        <i class="fa fa-thumbs-o-up fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>

                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="poshtra">
                                                                        <li class="plan-feature">Ideology 1
                                                                            <button class="remove-h btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 2
                                                                            <button class="remove-h btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 3
                                                                            <button class="remove-h btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <div style="z-index:55;"
                                                                     class="plan col-sm-4 col-lg-6 toHome">
                                                                    <div class="plan-name-silver">
                                                                        <h2>Traits I Dislike</h2>
                                                                        <i class="fa fa-thumbs-down fa-5x"
                                                                           aria-hidden="true"></i>
                                                                    </div>
                                                                    <ul style="height: 200px; overflow-y: scroll;"
                                                                        id="neghtra">
                                                                        <li class="plan-feature">Ideology 5
                                                                            <button class="remove-h btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li class="plan-feature">Ideology 6
                                                                            <button class="remove-h btn btn-default btn-xs pull-right">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>


                                                                <div style="width: 700px;">
                                                                    <div class="btn-group testposh"
                                                                         style="padding-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:255px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-poshtra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>

                                                                    </div>
                                                                    <div class="btn-group testnegh"
                                                                         style="margin-top: 20px;">

                                                                        <button class="btn btn-danger" type="button"
                                                                                style="width:250px;">Add new
                                                                        </button>

                                                                        <button data-toggle="dropdown"
                                                                                class="btn btn-danger dropdown-toggle"
                                                                                type="button" name="change"><span
                                                                                class="caret"></span></button>


                                                                        <ul class="dropdown-menu scrollable-menu"
                                                                            id="dropdown-neghtra" role="menu"
                                                                            style="height: auto; max-height: 100px; overflow-x: hidden;  width: 100%;">
                                                                            <li><a>Ideology 7</a></li>
                                                                            <li><a>Ideology 8</a></li>
                                                                            <li><a>Ideology 9</a></li>

                                                                        </ul>
                                                                    </div>

                                                                    <button id="submithtra" class="btn btn-danger"
                                                                            required="required" type="submit"
                                                                            style="width:250px; margin-left: 150px; margin-top: 20px;">
                                                                        Submit Changes
                                                                    </button>


                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="tab-pane" id="tabCategory5">

                                                        <div>
                                                            <div class="status alert alert-success"
                                                                 style="display: none"></div>
                                                            <div class="message_heading">
                                                                <h2 class="related-products-title"
                                                                    style="color: #c52d2f;">Fill in this form with your
                                                                    motivation of addding a new TRAIT</h2>
                                                            </div>

                                                            <form id="main-contact-formtrait" class="contact-form"
                                                                  name="contact-formtrait" method="post" role="form">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label>Message *</label>
                                                                            <textarea name="message" id="message"
                                                                                      required="required"
                                                                                      class="form-control"
                                                                                      rows="20"></textarea>
                                                                            <input type="checkbox" name="checkide"
                                                                                   value="checkide"> Receive an approval
                                                                            through E-mail<br>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <button id="submitTrait"
                                                                                    class="btn btn-danger"
                                                                                    required="required" type="submit"
                                                                                    style="width:250px; margin-left: 250px; margin-top: 20px;">
                                                                                Submit Changes
                                                                            </button>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <div class="container-fluid" style="padding-left: 280px; padding-bottom: 270px;">
        <h1>Hello World!</h1>
        <h1 style="color: black; margin-left: 150px;">Top 5 Similar Users</h1>
        <hr style="width: 1000px; margin-left: 150px;">
        <div class="row">
            <a href="">
                <div class="col-sm-2" style="background-color:#f2dede; height: 250px; border-radius: 10px;"><img
                        src="{% static 'global/images/img/girl.png' %}" style="width: 100%; height: 100%;"></div>
            </a>

            <a href="">
                <div class="col-sm-2"
                     style="background-color:#f2dede; height: 250px; margin-left: 10px; border-radius: 10px;"><img
                        src="{% static 'global/images/img/girl.png' %}" style="width: 100%; height: 100%;"></div>
            </a>

            <a href="">
                <div class="col-sm-2"
                     style="background-color:#f2dede; height: 250px; margin-left: 10px; border-radius: 10px;"><img
                        src="{% static 'global/images/img/girl.png' %}" style="width: 100%; height: 100%;"></div>
            </a>

            <a href="">
                <div class="col-sm-2"
                     style="background-color:#f2dede; height: 250px;margin-left: 10px; border-radius: 10px;"><img
                        src="{% static 'global/images/img/girl.png' %}" style="width: 100%; height: 100%;"></div>
            </a>

            <a href="">
                <div class="col-sm-2"
                     style="background-color:#f2dede; height: 250px; margin-left: 10px; border-radius: 10px;"><img
                        src="{% static 'global/images/img/girl.png' %}" style="width: 100%; height: 100%;"></div>
            </a>

        </div>

        <div class="row">
            <div class="col-sm-2">
                <h2> Nume1 </h2>
            </div>

            <div class="col-sm-2" style="margin-left: 10px;">
                <h2> Nume2 </h2>
            </div>

            <div class="col-sm-2" style="margin-left: 10px;">
                <h2> Nume3 </h2>
            </div>

            <div class="col-sm-2" style="margin-left: 10px;">
                <h2> Nume4 </h2>
            </div>

            <div class="col-sm-2" style="margin-left: 10px;">
                <h2> Nume5 </h2>
            </div>
        </div>
    </div>
    </div>

    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Top Companies</h2>
                <p class="lead">Descriere</p>
            </div>

            <div class="partners">
                <ul>
                    <li>
                        <a href="{% url 'company:details' comp_id=428 %}"><img class="img-responsive wow fadeInDown"
                                                                               data-wow-duration="1000ms"
                                                                               data-wow-delay="300ms"
                                                                               src="{% static 'global/images/partners/cocacola.png' %}">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'company:details' comp_id=83 %}"><img class="img-responsive wow fadeInDown"
                                                                              data-wow-duration="1000ms"
                                                                              data-wow-delay="600ms"
                                                                              src="{% static 'global/images/partners/applelogo.png' %}">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'company:details' comp_id=1652 %}"><img class="img-responsive wow fadeInDown"
                                                                                data-wow-duration="1000ms"
                                                                                data-wow-delay="900ms"
                                                                                src="{% static 'global/images/partners/pringleslogo.png' %}">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'company:details' comp_id=1800 %}"><img class="img-responsive wow fadeInDown"
                                                                                data-wow-duration="1000ms"
                                                                                data-wow-delay="1200ms"
                                                                                src="{% static 'global/images/partners/samsung.png' %}">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="1500ms" src="{% static 'global/images/partners/nike.png' %}">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/#partner-->
{% endblock %}
