{% extends base.html %}

{% block content %}
    <section class="container" style="padding-top: 300px">
        <div class="container">
            <h1>Check your email</h1>

            <p>Please check your email and in order to verity your account and gain access to out Website. Thank
                you!</p>
        </div>
    </section>
{% endblock %}