{% extends "base.html" %}
{% block content %}
    <section id="loginform" class="container">
        <div class="container" style="padding-top: 85px; width:60%">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="signin">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Login via</label>
                            <div class="social-buttons">
                                <a href="/accounts/facebook/login/?process=login" class="btn btn-fb"><i
                                        class="fa fa-facebook"></i> Facebook</a>
                                <a href="/accounts/twitter/login/?process=login" class="btn btn-tw"><i
                                        class="fa fa-twitter"></i> Twitter</a>
                            </div>
                            <div class="social-buttons">
                                <a href="/accounts/instagram/login/?process=login" class="btn btn-ig"><i
                                        class="fa fa-instagram"></i> Instagram</a>
                                <a href="/accounts/google/login/?process=login" class="btn btn-gl"><i
                                        class="fa fa-google-plus"></i> Google</a>
                            </div>
                            <label>or</label>
                            <form class="form-horizontal" role="form" method="POST"
                                  action="{% url 'account_login' %}"
                                  accept-charset="UTF-8"
                                  id="login-nav">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <ol>
                                        {% for error in form.non_field_errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                                <div class="form-group">
                                    {{ form.login.errors }}
                                    <label class="sr-only"
                                           for="id_{{ form.login.name }}">{{ form.login.label }}</label>
                                    <input type="text" class="form-control" id="id_{{ form.login.name }}"
                                           name="{{ form.login.name }}"
                                           placeholder="Username or e-mail" {% ifnotequal form.login.value None %}
                                           value={{ form.login.value }}{% endifnotequal %}>
                                </div>
                                <div class="form-group">
                                    {{ form.password.errors }}
                                    <label class="sr-only"
                                           for="id_{{ form.password.name }}">{{ form.password.label }}</label>
                                    <input type="password" class="form-control" id="id_{{ form.password.name }}"
                                           name="{{ form.password.name }}"
                                           placeholder="Password" required>
                                    <div class="help-block text-right">
                                        <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label for="id_{{ form.remember.name }}">{{ form.remember.label }}</label>
                                    <input type="checkbox" name="{{ form.remember.name }}"
                                           id="id_{{ form.remember.name }}">
                                </div>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="signup">
                    <form class="form-horizontal" role="form" method="POST"
                          action="{% url 'account_signup' %}"
                          accept-charset="UTF-8"
                          id="signupnav">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <ol>
                                {% for error in form.non_field_errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        <fieldset>
                            <!-- Sign Up Form -->
                            <!-- First Name input-->
                            {{ signupform.first_name.errors }}
                            <div class="form-groupp">
                                <label class="control-label" for="id_{{ signupform.first_name.name }}">First
                                    Name:</label>
                                <div class="controls">
                                    <input class="form-control input-large" id="id_{{ signupform.first_name.name }}"
                                           name="{{ signupform.first_name.name }}" type="text"
                                           placeholder="First Name" maxlength="30">
                                </div>
                            </div>
                            <!-- Last Name input-->
                            {{ signupform.last_name.errors }}
                            <div class="form-groupp">
                                <label class="control-label" for="id_{{ signupform.last_name.name }}">Last
                                    Name:</label>
                                <div class="controls">
                                    <input class="form-control input-large" id="id_{{ signupform.last_name.name }}"
                                           name="{{ signupform.last_name.name }}" type="text"
                                           placeholder="Last Name" maxlength="30">
                                </div>
                            </div>
                            <!-- Username input-->
                            {{ signupform.username.errors }}
                            <div class="control-group">
                                <label class="control-label" for="id_{{ signupform.username.name }}">Username:</label>
                                <div class="controls">
                                    <input id="id_{{ signupform.username.name }}" name="{{ signupform.username.name }}"
                                           class="form-control" type="text"
                                           placeholder="Username" class="input-large">
                                </div>
                            </div>

                            <!-- Email input-->
                            {{ signupform.email.errors }}
                            <div class="control-group">
                                <label class="control-label" for="id_{{ signupform.email.name }}">Email:</label>
                                <div class="controls">
                                    <input id="id_{{ signupform.email.name }}" name="{{ signupform.email.name }}"
                                           class="form-control" type="text"
                                           placeholder="Email address" class="input-large">
                                </div>
                            </div>

                            <!-- Password input-->
                            {{ signupform.password1.errors }}
                            <div class="control-group">
                                <label class="control-label" for="id_{{ signupform.password1.name }}">Password:</label>
                                <div class="controls">
                                    <input id="id_{{ signupform.password1.name }}"
                                           name={{ signupform.password1.name }} class="form-control" type="password"
                                           placeholder="********" class="input-large">
                                    <em>1-8 Characters</em>
                                </div>
                            </div>

                            <!-- Reenter password input-->
                            {{ signupform.password2.errors }}

                            <div class="control-group">
                                <label class="control-label" for="id_{{ signupform.password2.name }}">Re-Enter
                                    Password:</label>
                                <div class="controls">
                                    <input id="id_{{ signupform.password2.name }}" class="form-control"
                                           name={{ signupform.password2.name }}
                                                   type="password" placeholder="********" class="input-large">
                                </div>
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="confirmsignup"></label>
                                <div class="controls">
                                    <button id="confirmsignup" name="confirmsignup"
                                            class="btn btn-primary btn-block">Sign Up
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}