{% extends "base.html" %}

{% block content %}
    <section id="loginform" class="container">
        <div class="container" style="padding-top: 85px; width:60%">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class=""><a href="{% url "account_login" %}">Sign In</a></li>
                    <li class="active"><a href="#signup">Register</a></li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in " id="signup">
                    <form class="form-horizontal" role="form" method="POST"
                          action="{% url 'account_signup' %}"
                          accept-charset="UTF-8"
                          id="signupnav">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <ol>
                                {% for error in form.non_field_errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        <fieldset>
                            <!-- Sign Up Form -->
                            <!-- First Name input-->
                            <div class="form-groupp">
                                <label class="control-label" for="id_{{ form.first_name.name }}">First
                                    Name:</label>
                                {{ form.first_name.errors }}
                                <div class="controls">
                                    <input class="form-control input-large" id="id_{{ form.first_name.name }}"
                                           name="{{ form.first_name.name }}" type="text"
                                           placeholder="First Name" maxlength="30"
                                            {% ifnotequal form.first_name.value None %}
                                           value={{ form.first_name.value }}{% endifnotequal %}>
                                </div>
                            </div>
                            <!-- Last Name input-->
                            <div class="form-groupp">
                                <label class="control-label" for="id_{{ form.last_name.name }}">Last
                                    Name:</label>
                                {{ form.last_name.errors }}
                                <div class="controls">
                                    <input class="form-control input-large" id="id_{{ form.last_name.name }}"
                                           name="{{ form.last_name.name }}" type="text"
                                           placeholder="Last Name" maxlength="30"
                                            {% ifnotequal form.last_name.value None %}
                                           value={{ form.last_name.value }}{% endifnotequal %}>
                                </div>
                            </div>
                            <!-- Username input-->
                            <div class="control-group">
                                <label class="control-label" for="id_{{ form.username.name }}">Username:</label>
                                {{ form.username.errors }}
                                <div class="controls">
                                    <input id="id_{{ form.username.name }}" name="{{ form.username.name }}"
                                           class="form-control" type="text"
                                           placeholder="Username" class="input-large"
                                            {% ifnotequal form.username.value None %}
                                           value={{ form.username.value }}{% endifnotequal %}>
                                </div>
                            </div>

                            <!-- Email input-->
                            <div class="control-group">
                                <label class="control-label" for="id_{{ form.email.name }}">Email:</label>
                                {{ form.email.errors }}
                                <div class="controls">
                                    <input id="id_{{ form.email.name }}" name="{{ form.email.name }}"
                                           class="form-control" type="text"
                                           placeholder="Email address" class="input-large"
                                            {% ifnotequal form.email.value None %}
                                           value={{ form.email.value }}{% endifnotequal %}>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="control-group">
                                <label class="control-label" for="id_{{ form.password1.name }}">Password:</label>
                                {{ form.password1.errors }}
                                <div class="controls">
                                    <input id="id_{{ form.password1.name }}"
                                           name={{ form.password1.name }} class="form-control" type="password"
                                           placeholder="********" class="input-large">
                                    <em>1-8 Characters</em>
                                </div>
                            </div>

                            <!-- Reenter password input-->

                            <div class="control-group">
                                <label class="control-label" for="id_{{ form.password2.name }}">Re-Enter
                                    Password:</label>
                                {{ form.password2.errors }}
                                <div class="controls">
                                    <input id="id_{{ form.password2.name }}" class="form-control"
                                           name={{ form.password2.name }}
                                                   type="password" placeholder="********" class="input-large">
                                </div>
                            </div>
                            <input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden"/>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="confirmsignup"></label>
                                <div class="controls">
                                    <button id="confirmsignup" name="confirmsignup"
                                            class="btn btn-primary btn-block">Sign Up
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}