{% load avatar_tags %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block head_title %}EDEC{% endblock %}</title>
        {% load staticfiles %}
        <!-- core CSS -->
        <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="{% static 'global/js/html5shiv.js' %}"></script>
        <script src="{% static 'global/js/respond.min.js' %}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{% static 'global/images/ico/favicon.ico' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href="{% static 'global/images/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href="{% static 'global/images/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href="{% static 'global/images/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed"
              href="{% static 'global/css/images/ico/apple-touch-icon-57-precomposed.png' %}">
        {% block extra_head %}
        {% endblock %}
    {% endblock %}
</head>
<body class="homepage">
<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="no-margin" style="padding-left: 30px;padding-right: 30px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'global/images/edeclogo.png' %}"
                                                                      alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li{% block home_active %} {% endblock %}><a href="{% url 'index' %}">Home</a></li>
                    <li{% block products_active %} {% endblock %}><a href="{% url 'product:search' %}">Products</a></li>
                    <li{% block company_active %} {% endblock %}><a href="{% url 'company:search' %}">Companies</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                    {% else %}
                        <li{% block account_active %} {% endblock %}><a href="{% url 'account_profile' %}">My
                            Account</a></li>
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        <li>{% avatar user 45 %}</li>
                    {% endif %}
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
    {% block extra_header %}

    {% endblock %}
</header><!--/header-->
{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
<footer id="footer" class="midnight-blue footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-4">
                &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="EDEC">EDEC</a>
            </div>
            <div class="col-sm-6 col-xs-8">
                <div class="social">
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</footer><!--/#footer-->
{% block scripts %}
<script src="{% static 'global/js/jquery.js' %}"></script>
<script src="{% static 'global/js/bootstrap.min.js' %}"></script>
<script src="{% static 'global/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'global/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'global/js/main.js' %}"></script>
<script src="{% static 'global/js/wow.min.js' %}"></script>
{% block extra_js %}
{% endblock %}
{% endblock %}
</body>
</html>
