{% extends "product/base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | EDEC</title>
    {% load staticfiles %}
    <!-- core CSS -->
    <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{% static 'global/js/html5shiv.js' %}"></script>
        <script src="{% static 'global/js/respond.min.js' %}"></script>
        <![endif]-->
    <link rel="shortcut icon" href="{% static 'global/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'global/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'global/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'global/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'global/css/images/ico/apple-touch-icon-57-precomposed.png' %}">
{% endblock %}
{% block content %}
<section id="error" class="container text-center" style="padding-top: 200px;">
    <h1>{{ code }}, {{ message }}</h1>
    <p>{{ extended_message }}</p>
    <a class="btn btn-primary" href= {% url 'index' %}>BACK TO HOMEPAGE</a>
</section><!--/#error-->
{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/jquery.js' %}"></script>
    <script src="{% static 'global/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'global/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'global/js/main.js' %}"></script>
    <script src="{% static 'global/js/wow.min.js' %}"></script>
{% endblock %}

