{% extends "product/base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDEC</title>

    {% load staticfiles %}

    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600" rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,100" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{% static 'global/css/owl.carousel.css' %}">

    <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/singleProduct.css' %}" rel="stylesheet">

    <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/responsive2.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
<section id="blog" class="container" style="padding-top: 100px;">

    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">

        <div class="media-body">

            <div class="blog">


                <div class="single-product-area">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-sidebar">
                                    <h3></h3>
                                    <div class="list-group">
                                        <a class="list-group-item list-group-item-warning">
                                            <h1 class="list-group-item-heading">{{ prod_name }}</h1>
                                        </a>
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>{{ comp_name }}</b></h4>
                                            <p class="list-group-item-text"><b>Overall Company Score</b>: 5,8</p>
                                            <p class="list-group-item-text"><b>Environment</b>: 6,6</p>
                                            <p class="list-group-item-text"><b>Society</b>: 6,2</p>
                                        </a>
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>More info</b></h4>
                                            <p class="list-group-item-text"><b>Description: </b>{{ comp_description }}
                                            </p>

                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="product-content-right">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="product-images">
                                                <div class="product-main-img">
                                                    <img id="lala" src="{% static prod_img %}" style="{{ style }}"
                                                         alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="product-inner">
                                                <h2 class="product-name">{{ prod_name }}</h2>
                                                <div class="product-wid-rating" style="padding-bottom: 30px;">
                                                    <p><b>8.9</b>
                                                    </p>
                                                </div>
                                                <div role="tabpanel">
                                                    <ul class="product-tab" role="tablist">
                                                        <li role="presentation" class="active"><a href="#home"
                                                                                                  aria-controls="home"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab">Description</a>
                                                        </li>
                                                        <li role="presentation"><a href="#hom" aria-controls="hom"
                                                                                   role="tab"
                                                                                   data-toggle="tab">Altceva</a>
                                                        </li>

                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="home" class="tab-pane fade in active">
                                                            <h3 style="color:#ffb366">Description</h3>
                                                            <ul>
                                                                {{ prod_desc | safe }}
                                                            </ul>
                                                        </div>
                                                        <div id="hom" class="tab-pane fade">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="container">
                        <div class="pricing-table pricing-three-column row">
                            <div class="plan col-sm-4 col-lg-4">
                                <div class="plan-name-bronze">
                                    <h2>Positive Traits</h2>
                                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
                                </div>
                                <ul style="height: 300px; overflow-y: scroll;">
                                    {% for trait in positive_traits %}
                                        <li class="plan-feature">{{ trait }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div style="z-index:55;" class="plan col-sm-4 col-lg-4">
                                <div class="plan-name-silver">
                                    <h2>Neutral Traits</h2>
                                    <i class="fa fa-meh-o fa-5x" aria-hidden="true"></i>
                                </div>
                                <ul style="height: 300px; overflow-y: scroll;">
                                    {% for trait in neutral_traits %}
                                        <li class="plan-feature">{{ trait }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="plan col-sm-4 col-lg-4">
                                <div class="plan-name-gold">
                                    <h2>Negative Traits</h2>
                                    <i class="fa fa-thumbs-down fa-5x" aria-hidden="true"></i>
                                </div>
                                <ul style="height: 300px; overflow-y: scroll;">
                                    {% for trait in negative_traits %}
                                        <li class="plan-feature">{{ trait }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div style="padding-top: 30px; padding-left: 450px;">


                        <form>
                            <input type="hidden" id="hiddenProdTrait" name="hiddenProdTrait" value="">
                            <div class="btn-group" style="margin-top: 20px;">
                                <h2 class="related-products-title" style="color: #c52d2f;">Add new product Trait</h2>

                                <button class="btn btn-danger" type="button"
                                        style="width:290px; height: 35px; border-radius: 5px;" id="prtrait">Add new
                                    product trait
                                </button>

                                <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle" type="button"
                                        name="change" style="height: 35px; border-radius: 5px;"><span
                                        class="caret"></span></button>


                                <ul class="dropdown-menu scrollable-menu" id="dropdown-prtrait" role="menu"
                                    style="height: auto; max-height: 100px; overflow-x: hidden; width: 100%;">
                                    {% for trait in missing_traits %}
                                        <li><a>{{ trait }}</a></li>
                                    {% endfor %}

                                </ul>

                            </div>
                        </form>

                    </div>


                    <div class="related-products-wrapper" style="padding-top: 120px;">
                        <h2 class="related-products-title" style="color: #c52d2f;">Related Products</h2>
                        <div class="related-products-carousel owl-carousel owl-theme owl-responsive-1200 owl-loaded"
                             style="width: 1500px;">


                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                     style="transform: translate3d(-770.001px, 0px, 0px); transition: 0s; width: 2823.34px;">
                                    <div class="owl-item cloned" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/iaurt.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Stonyfield Yogurt</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>9.5</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/ology.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Ology Eliminator Spray </a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>6.7</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/pateto.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Old El Chiles</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>7.9</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/druide.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Druide Shower Gel</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>10</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/justin.jpg' %}"
                                                     style="height: 100%;" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Justin's Chocolate Peanut</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>8.9</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/iaurt.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Stonyfield Yogurt</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>9.5</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/ology.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Ology Eliminator Spray </a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>6.7</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/pateto.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Old El Chiles</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>7.9</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/druide.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Druide Shower Gel</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>10</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/justin.jpg' %}"
                                                     style="height: 100%;" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Justin's Chocolate Peanut</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>8.9</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 236.667px; margin-right: 20px;">
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="{% static 'global/images/img/iaurt.jpe' %}" alt="">
                                                <div class="product-hover">
                                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See
                                                        details</a>
                                                </div>
                                            </div>

                                            <h2><a href="">Stonyfield Yogurt</a></h2>
                                            <div class="product-wid-rating">
                                                <p><b>9.5</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h2 class="related-products-title" style="color: #c52d2f;">Comments</h2>

        <div class="container" style="padding-top: 50px;">

            <div class="media comment_section">
                <div class="pull-left post_comments">
                    <a href="#"><img src="{% static 'global/images/img/girl.png' %}" class="img-circle" alt="">
                    </a>
                </div>
                <div class="media-body post_reply_comments">
                    <h3>Ivona</h3>
                    <h3>Very good product!!</h3>
                    <h4>June 19, 2016 AT 6:20 PM</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>


                    <div style="background-color: #d9d9d9; border-radius: 25px;">

                        <h3 style="padding-left: 20px; padding-top: 20px;">Ivona Replied</h3>
                        <h4 style="padding-left: 20px;">June 19, 2016 AT 6:20 PM</h4>
                        <p style="padding-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud</p>
                    </div>

                    <div style="background-color: #d9d9d9; border-radius: 25px;">
                        <h3 style="padding-left: 20px; padding-top: 20px;">Vlad Replied</h3>
                        <h4 style="padding-left: 20px;">June 19, 2016 AT 6:20 PM</h4>
                        <p style="padding-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    </div>



                    <span style="margin-top: 100px;">
                        <a class="" role="button" data-toggle="collapse" href="#replyComment1" aria-expanded="false"
                           aria-controls="collapseExample">Reply</a>
                    </span>
                    <div class="collapse" id="replyComment1">
                        <form>
                            <div class="form-group">
                                <label for="comment">Your Comment</label>
                                <textarea name="comment" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger" id="sendreply"
                                    style="background-color: #c52d2f;">Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="media comment_section">
                <div class="pull-left post_comments">
                    <a href="#"><img src="{% static 'global/images/img/girl.png' %}" class="img-circle" alt="">
                    </a>
                </div>
                <div class="media-body post_reply_comments">
                    <h3>Ivona</h3>
                    <h3>Very good product!!</h3>
                    <h4>June 19, 2016 AT 6:20 PM</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>


                    <div style="background-color: #d9d9d9; border-radius: 25px;">

                        <h3 style="padding-left: 20px; padding-top: 20px;">Ivona Replied</h3>
                        <h4 style="padding-left: 20px;">June 19, 2016 AT 6:20 PM</h4>
                        <p style="padding-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud</p>
                    </div>



                    <span style="margin-top: 100px;">
                        <a class="" role="button" data-toggle="collapse" href="#replyComment2" aria-expanded="false"
                           aria-controls="collapseExample">Reply</a>
                    </span>
                    <div class="collapse" id="replyComment2">
                        <form>
                            <div class="form-group">
                                <label for="comment">Your Comment</label>
                                <textarea name="comment" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger" id="sendreply"
                                    style="background-color: #c52d2f;">Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>


            <div id="contact-page clearfix">
                <div class="status alert alert-success" style="display: none"></div>
                <div class="message_heading">
                    <h2 class="related-products-title" style="color: #c52d2f;">Leave a review to this product</h2>
                </div>

                <form id="main-contact-form" class="contact-form" name="contact-form" method="post"
                      action="sendemail.php" role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" style="width: 300px;">
                                <label>Titlu *</label>
                                <input type="text" class="form-control" required="required">
                            </div>
                            <div class="form-group">
                                <label>Message *</label>
                                <textarea name="message" id="message" required="required" class="form-control"
                                          rows="8"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg" required="required"
                                        style="background-color: #c52d2f;">Submit Message
                                </button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>


        </div>


    </div>
    </div>
</section>


<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Top Companies</h2>
            <p class="lead">Descriere</p>
        </div>

        <div class="partners">
            <ul>
                <li>
                    <a href="{% url 'company:details' comp_id=428 %}"><img class="img-responsive wow fadeInDown"
                                                                           data-wow-duration="1000ms"
                                                                           data-wow-delay="300ms"
                                                                           src="{% static 'global/images/partners/cocacola.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=83 %}"><img class="img-responsive wow fadeInDown"
                                                                          data-wow-duration="1000ms"
                                                                          data-wow-delay="600ms"
                                                                          src="{% static 'global/images/partners/applelogo.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=1652 %}"><img class="img-responsive wow fadeInDown"
                                                                            data-wow-duration="1000ms"
                                                                            data-wow-delay="900ms"
                                                                            src="{% static 'global/images/partners/pringleslogo.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=1800 %}"><img class="img-responsive wow fadeInDown"
                                                                            data-wow-duration="1000ms"
                                                                            data-wow-delay="1200ms"
                                                                            src="{% static 'global/images/partners/samsung.png' %}">
                    </a>
                </li>
                <li>
                    <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms"
                                     data-wow-delay="1500ms" src="{% static 'global/images/partners/nike.png' %}">
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#partner-->

{% endblock %}
{% block scripts %}
    <script src="{% static 'global/js/jquery.js' %}"></script>
    <script src="{% static 'global/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'global/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'global/js/main.js' %}"></script>
    <script src="{% static 'global/js/wow.min.js' %}"></script>
    <script src="{% static 'global/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.sticky.js' %}"></script>

    <script src="{% static 'global/js/jquery.easing.1.3.min.js' %}"></script>



    <!-- Button -->
    <script>
        $(document).ready(function () {
            $(".btn-info").click(function () {
                $(this).button('toggle');
            });
        });
    </script>

    <script src="{% static 'global/js/menu.js' %}"></script>
    <script src="{% static 'global/js/empty-check.js' %}"></script>
{% endblock %}