{% extends "product/base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search Products | EDEC</title>

    {% load staticfiles %}

    <!-- core CSS -->
    <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/font-awesome.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/productSearch.css' %}" rel="stylesheet">

    <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{% static 'global/js/html5shiv.js' %}"></script>
    <script src="{% static 'global/js/respond.min.js' %}"></script>
    <![endif]-->

    <link rel="shortcut icon"
          href="{% static 'global/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144.4"
          href="{% static 'global/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'global/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'global/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'global/images/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}


{% block content %}

    <section id="services" class="service-item" style="padding-bottom: 160px;">
        <div class="container">

            <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms"
                 data-wow-delay="600ms">

                <div class="media-body">

                    <div class="[ container text-center ]">
                        <div class="[ row ]">
                            <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]"
                                 role="tabpanel">
                                <div class="[ col-xs-4 col-sm-12 ]">

                                    <!-- Nav tabs -->

                                    <h1 class="bold" style="margin-left: -40px; ">Pick a category</h1>
                                    <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                                        <li role="presentation"{% if not current_category or current_category == 1 %}
                                            class="active" {% else %} class="" {% endif %}>
                                            <a href="#food_drinks" aria-controls="food_drinks" role="tab"
                                               data-toggle="tab">
                                                {#                <img class="img-circle"#}
                                                {#                     src="{% static 'global/images/slider/apple2.png' %}"/>#}
                                                {#                <span class="quote"><i class="fa fa-search"></i></span>#}
                                                <img class="logo-center" height="90" width="90"
                                                     src="{% static 'global/images/slider/apple2.png' %}"/>
                                                <span class="quote"><i class="fa fa-search"></i></span>
                                            </a>
                                        </li>
                                        <li role="presentation"{% if current_category == 2 %} class="active" {% else %}
                                            class="" {% endif %}>
                                            <a href="#clothing_accessories"
                                               aria-controls="clothing_accessories" role="tab"
                                               data-toggle="tab">
                                                {#                <img class="img-circle"#}
                                                {#                     src="{% static 'global/images/slider/Mens_Blue_Distressed_Superman_Logo_T_Shirt_hi_res.jpg' %}"/>#}
                                                {#                <span class="quote"><i class="fa fa-search"></i></span>#}
                                                <img class="logo-center" height="90" width="90"
                                                     src="{% static 'global/images/slider/Mens_Blue_Distressed_Superman_Logo_T_Shirt_hi_res.jpg' %}"/>
                                                <span class="quote"><i class="fa fa-search"></i></span>
                                            </a>
                                        </li>
                                        <li role="presentation"{% if current_category == 3 %} class="active" {% else %}
                                            class="" {% endif %}>
                                            <a href="#electronics" aria-controls="electronics" role="tab"
                                               data-toggle="tab">
                                                {#                <img class="circle-avatar"#}
                                                {#                     src="{% static 'global/images/slider/product-1.png' %}"/>#}
                                                {#                <span class="quote"><i class="fa fa-search"></i></span>#}
                                                <img class="logo-center" height="90" width="90"
                                                     src="{% static 'global/images/slider/product-1.png' %}"/>
                                                <span class="quote"><i class="fa fa-search"></i></span>
                                            </a>
                                        </li>
                                        <li role="presentation"{% if current_category == 4 %} class="active" {% else %}
                                            class="" {% endif %}>
                                            <a href="#home_garden" aria-controls="home_garden" role="tab"
                                               data-toggle="tab">
                                                {#                <img class="img-circle" style="background: white; padding-bottom: 15px;"#}
                                                {#                     src="{% static 'global/images/slider/slide2-house-9.png' %}"/>#}
                                                {#                <span class="quote"><i class="fa fa-search"></i></span>#}
                                                <img class="logo-center" height="90" width="90"
                                                     style="background: white; padding-bottom: 15px;"
                                                     src="{% static 'global/images/slider/slide2-house-9.png' %}"/>
                                                <span class="quote"><i class="fa fa-search"></i></span>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="[ col-xs-8 col-sm-12 ]">

                                    <!-- Tab panes -->

                                    <!-- First pane -->

                                    <div class="tab-content" id="tabs-collapse">
                                        <div role="tabpanel"
                                             class="tab-pane fade{% if current_category == 1 %} in active {% endif %}"
                                             id="food_drinks">
                                            <div class="tab-inner">

                                                <!-- Search bar for first tab -->
                                                <form id="searchForm1">
                                                    {{ search_form_1.category }}
                                                    <div class="nav nav-justified navbar-nav">
                                                        <div class="input-group">
                                                            {{ search_form_1.query }}
                                                            <div class="input-group-btn">
                                                                <button type="submit"
                                                                        class="btn btn-search btn-danger"
                                                                        form="searchForm1" name="submit" value="1">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                    <span class="label-icon">Search</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <!-- Token range for first tab -->
                                                            <h2 class="bold"
                                                                style="margin-left: -40px; padding-top: 20px;">
                                                                Calories range</h2>

                                                            <div style="margin-left: -50px;">
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-right: 10px;">
                                                                        From: </h4>
                                                                    {{ search_form_1.token_from }}
                                <span class="unit"
                                      style="color: #aaa;">Cal</span>
                                                                </label>
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-left: 10px; padding-right: 10px;">
                                                                        To: </h4>
                                                                    {{ search_form_1.token_to }}
                                <span class="unit"
                                      style="color: #aaa;">Cal</span>
                                                                </label>
                                                            </div>

                                                            <!-- Subcategories for first tab -->

                                                            <h2 class="bold"
                                                                style="margin-left: 5px; padding-top: 10px;">Filter
                                                                your food & drinks products</h2>

                                                            <div style="padding-top: 10px;">
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 10px;">
                                                                    Subcategory: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;" id="menu1food">
                                                                        All Subcategories
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropSubcategories1" type="button"
                                                                            name="change"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_1.subcategory }}
                                                                    <ul class="dropdown-menu scrollable-menu"
                                                                        id="dropdown-food1" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; width: 100%;">
                                                                        <a>
                                                                            <li class="wrapTxt">All
                                                                                Subcategories<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        {% for subcat in subcategories.food %}
                                                                            <a>
                                                                                <li class="wrapTxt">{{ subcat.name }}<span
                                                                                        class="mask"></span></li>
                                                                            </a>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <!-- Order for first tab -->

                                                            <div>
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 43px; padding-top: 20px;">
                                                                    Order by: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;" id="menu2food">
                                                                        Alphabetic Ascending
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropOrder1" type="button"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_1.order }}
                                                                    <ul class="dropdown-menu" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; padding-left: 10px; width: 100%;"
                                                                        id="dropdown-food2">
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Ascending<span class="mask"></span>
                                                                            </li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Calories Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Calories Descending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                        <!-- Second pane -->


                                        <div role="tabpanel"
                                             class="tab-pane fade{% if current_category == 2 %} in active {% endif %}"
                                             id="clothing_accessories">
                                            <div class="tab-inner">

                                                <!-- Search bar for second tab -->
                                                <form id="searchForm2">
                                                    {{ search_form_2.category }}
                                                    <div class="nav nav-justified navbar-nav">
                                                        <div class="input-group">
                                                            {{ search_form_2.query }}
                                                            <div class="input-group-btn">
                                                                <button type="submit"
                                                                        class="btn btn-search btn-danger"
                                                                        form="searchForm2" name="submit" value="2">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                    <span class="label-icon">Search</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <!-- Token range for second tab -->
                                                            <h2 class="bold"
                                                                style="margin-left: -40px; padding-top: 20px;">
                                                                Price range</h2>

                                                            <div style="margin-left: -50px;">
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-right: 10px;">
                                                                        From: </h4>
                                                                    {{ search_form_2.token_from }}
                                <span class="unit"
                                      style="color: #aaa;">$</span>
                                                                </label>
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-left: 10px; padding-right: 10px;">
                                                                        To: </h4>
                                                                    {{ search_form_2.token_to }}
                                <span class="unit"
                                      style="color: #aaa;">$</span>
                                                                </label>
                                                            </div>

                                                            <!-- Subcategories for second tab -->

                                                            <h2 class="bold"
                                                                style="margin-left: 20px; padding-top: 10px;">
                                                                Filter your clothing & accessories products</h2>

                                                            <div style="padding-top: 10px;">
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 10px;">
                                                                    Subcategory: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;"
                                                                            id="menu1clothes">All Subcategories
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropSubcategories2" type="button"
                                                                            name="change"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_2.subcategory }}
                                                                    <ul class="dropdown-menu scrollable-menu"
                                                                        id="dropdown-clothes1" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; width: 100%;">
                                                                        <a>
                                                                            <li class="wrapTxt">All
                                                                                Subcategories<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        {% for subcat in subcategories.clothing %}
                                                                            <a>
                                                                                <li class="wrapTxt">{{ subcat.name }}<span
                                                                                        class="mask"></span></li>
                                                                            </a>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <!-- Order for second tab -->

                                                            <div>
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 43px; padding-top: 20px;">
                                                                    Order by: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;"
                                                                            id="menu2clothes">Alphabetic Ascending
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropOrder2" type="button"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_2.order }}
                                                                    <ul class="dropdown-menu" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; padding-left: 10px; width: 100%;"
                                                                        id="dropdown-clothes2">
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Ascending<span class="mask"></span>
                                                                            </li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Price Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Price Descending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                        <!-- Third pane -->


                                        <div role="tabpanel"
                                             class="tab-pane fade{% if current_category == 3 %} in active {% endif %}"
                                             id="electronics">
                                            <div class="tab-inner">

                                                <!-- Search bar for third tab -->
                                                <form id="searchForm3">
                                                    {{ search_form_3.category }}
                                                    <div class="nav nav-justified navbar-nav">
                                                        <div class="input-group">
                                                            {{ search_form_3.query }}
                                                            <div class="input-group-btn">
                                                                <button type="submit"
                                                                        class="btn btn-search btn-danger"
                                                                        form="searchForm3" name="submit" value="3">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                    <span class="label-icon">Search</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <!-- Token range for third tab -->
                                                            <h2 class="bold"
                                                                style="margin-left: -40px; padding-top: 20px;">
                                                                Price range</h2>

                                                            <div style="margin-left: -50px;">
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-right: 10px;">
                                                                        From: </h4>
                                                                    {{ search_form_3.token_from }}
                                <span class="unit"
                                      style="color: #aaa;">$</span>
                                                                </label>
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-left: 10px; padding-right: 10px;">
                                                                        To: </h4>
                                                                    {{ search_form_3.token_to }}
                                <span class="unit"
                                      style="color: #aaa;">$</span>
                                                                </label>
                                                            </div>

                                                            <!-- Subcategories for third tab -->

                                                            <h2 class="bold"
                                                                style="margin-left: 20px; padding-top: 10px;">
                                                                Filter your electronics products</h2>

                                                            <div style="padding-top: 10px;">
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 10px;">
                                                                    Subcategory: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;"
                                                                            id="menu1electronics">All Subcategories
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropSubcategories3" type="button"
                                                                            name="change"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_3.subcategory }}
                                                                    <ul class="dropdown-menu scrollable-menu"
                                                                        id="dropdown-electronics1" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; width: 100%;">
                                                                        <a>
                                                                            <li class="wrapTxt">All
                                                                                Subcategories<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        {% for subcat in subcategories.electronics %}
                                                                            <a>
                                                                                <li class="wrapTxt">{{ subcat.name }}<span
                                                                                        class="mask"></span></li>
                                                                            </a>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <!-- Order for third tab -->

                                                            <div>
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 50px; padding-top: 20px;">
                                                                    Order by: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;"
                                                                            id="menu2electronics">Alphabetic
                                                                        Ascending
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropOrder3" type="button"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_3.order }}
                                                                    <ul class="dropdown-menu" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; padding-left: 10px; width: 100%;"
                                                                        id="dropdown-electronics2">
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Ascending<span class="mask"></span>
                                                                            </li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Price Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Price Descending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                        <!-- Fourth pane -->


                                        <div role="tabpanel"
                                             class="tab-pane fade{% if current_category == 4 %} in active {% endif %}"
                                             id="home_garden">
                                            <div class="tab-inner">

                                                <!-- Search bar for first tab -->
                                                <form id="searchForm4">
                                                    {{ search_form_4.category }}
                                                    <div class="nav nav-justified navbar-nav">
                                                        <div class="input-group">
                                                            {{ search_form_4.query }}
                                                            <div class="input-group-btn">
                                                                <button type="submit"
                                                                        class="btn btn-search btn-danger"
                                                                        form="searchForm4" name="submit" value="4">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                    <span class="label-icon">Search</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <!-- Token range for first tab -->
                                                            <h2 class="bold"
                                                                style="margin-left: -40px; padding-top: 20px;">
                                                                Price range</h2>

                                                            <div style="margin-left: -50px;">
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-right: 10px;">
                                                                        From: </h4>
                                                                    {{ search_form_4.token_from }}
                                <span class="unit"
                                      style="color: #aaa;">$</span>
                                                                </label>
                                                                <label class="text-inline">
                                                                    <h4 class="bold"
                                                                        style="display: inline-block; color: white; padding-left: 10px; padding-right: 10px;">
                                                                        To: </h4>
                                                                    {{ search_form_4.token_to }}
                                <span class="unit"
                                      style="color: #aaa;">$</span>
                                                                </label>
                                                            </div>

                                                            <!-- Subcategories for first tab -->

                                                            <h2 class="bold"
                                                                style="margin-left: 20px; padding-top: 10px;">
                                                                Filter your home & garden products</h2>

                                                            <div style="padding-top: 10px;">
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 10px;">
                                                                    Subcategory: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;" id="menu1home">
                                                                        All Subcategories
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropSubcategories4" type="button"
                                                                            name="change"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_4.subcategory }}
                                                                    <ul class="dropdown-menu scrollable-menu"
                                                                        id="dropdown-home1" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; width: 100%;">
                                                                        <a>
                                                                            <li class="wrapTxt">All
                                                                                Subcategories<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        {% for subcat in subcategories.home %}
                                                                            <a>
                                                                                <li class="wrapTxt">{{ subcat.name }}<span
                                                                                        class="mask"></span></li>
                                                                            </a>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <!-- Order for first tab -->

                                                            <div>
                                                                <h4 class="bold"
                                                                    style="display: inline-block; color: white; padding-right: 50px; padding-top: 20px;">
                                                                    Order by: </h4>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-danger" type="button"
                                                                            style="width: 360px;" id="menu2home">
                                                                        Alphabetic Ascending
                                                                    </button>
                                                                    <button data-toggle="dropdown"
                                                                            class="btn btn-danger dropdown-toggle"
                                                                            id="dropOrder4" type="button"><span
                                                                            class="caret"></span></button>
                                                                    {{ search_form_4.order }}
                                                                    <ul class="dropdown-menu" role="menu"
                                                                        style="height: auto; max-height: 180px; overflow-x: hidden; padding-left: 10px; width: 100%;"
                                                                        id="dropdown-home2">
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Ascending<span class="mask"></span>
                                                                            </li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Alphabetic
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Relevance
                                                                                Descending<span
                                                                                        class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Price Ascending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                        <a>
                                                                            <li class="wrapTxt">Price Descending<span
                                                                                    class="mask"></span></li>
                                                                        </a>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Panes ending -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        </div><!--/.row-->
        </div><!--/.container-->
    </section>
    <!--/#services-->

    <section id="blog" class="container">


        <div class="container wow fadeInDown" data-wow-duration="1000ms"
             data-wow-delay="600ms">
            <div class="row">

                <div class="col-md-12">
                    <div class="container">
                        <table class="table table-striped">
                            <col width="400">
                            <col width="500">
                            <thead class="tables"
                                   style="font-size: 25px; color: #ff8080;">
                            <tr>
                                <th>Product</th>
                                <th>Description</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for row in products %}

                                <!-- Another product goes here -->

                                <tr class="selectableProduct clickable-row"
                                    data-href="/products/details/{{ row.prod_id }}">
                                    <td>
                                        <div style="float: left; height: 180px; margin-right: 15px; width: 140px; background: white;">
                                            <img src="{% static row.image_link %}" alt="Product Image - {{ row.name }}"
                                                 style="{{ row.style }}">
                                        </div>
                                        <h4><b>{{ row.name }}</b></h4>
                                        <h3>{{ row.token }}</h3>
                                    </td>

                                    <td class="point prodDescription">
                                        <div class="cropDescription">
                                            {{ row.description | safe }}
                                            <div class="fadedDescription"></div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->

                    <div class="text-center">
                        <ul class="pagination pagination-lg">
                            <li><a href="{{ page_token_link_first }}"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="{{ page_token_link_prev }}"><i class="fa fa-angle-left"></i></a></li>
                            {% if page_token_1 <= last_page %}
                                <li {% if current_page == page_token_1 %}class="active"{% endif %}><a
                                        href="{{ page_token_link_1 }}">{{ page_token_1 }}</a></li>{% endif %}
                            {% if page_token_2 <= last_page %}
                                <li {% if current_page == page_token_2 %}class="active"{% endif %}><a
                                        href="{{ page_token_link_2 }}">{{ page_token_2 }}</a></li>{% endif %}
                            {% if page_token_3 <= last_page %}
                                <li {% if current_page == page_token_3 %}class="active"{% endif %}><a
                                        href="{{ page_token_link_3 }}">{{ page_token_3 }}</a></li>{% endif %}
                            {% if page_token_4 <= last_page %}
                                <li {% if current_page == page_token_4 %}class="active"{% endif %}><a
                                        href="{{ page_token_link_4 }}">{{ page_token_4 }}</a></li>{% endif %}
                            {% if page_token_5 <= last_page %}
                                <li {% if current_page == page_token_5 %}class="active"{% endif %}><a
                                        href="{{ page_token_link_5 }}">{{ page_token_5 }}</a></li>{% endif %}
                            <li><a href="{{ page_token_link_next }}"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="{{ page_token_link_last }}"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Top Companies</h2>
            <p class="lead">Descriere</p>
        </div>

        <div class="partners">
            <ul>
                <li>
                    <a href="{% url 'company:details' comp_id=428 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{% static 'global/images/partners/cocacola.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=83 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{% static 'global/images/partners/applelogo.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=1652 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{% static 'global/images/partners/pringleslogo.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=1800 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{% static 'global/images/partners/samsung.png' %}">
                    </a>
                </li>
                <li>
                    <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{% static 'global/images/partners/nike.png' %}">
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#partner-->


{% endblock %}