{% extends "company/base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search Company | EDEC</title>

    {% load staticfiles %}

    <!-- core CSS -->
    <link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/font-awesome.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'global/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/productSearch.css' %}" rel="stylesheet">

    <link href="{% static 'global/css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{% static 'global/js/html5shiv.js' %}"></script>
    <script src="{% static 'global/js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon"
          href="{% static 'global/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144.4"
          href="{% static 'global/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'global/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'global/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'global/images/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}
<!--/head-->

{% block content %}


<section id="services" class="service-item" style="padding-bottom: 160px;">
<div class="container">

<div class="media contact-info wow fadeInDown" data-wow-duration="1000ms"
     data-wow-delay="600ms">

<div class="media-body">

<div class="[ container text-center ]">
<div class="[ row ]">
<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]"
     role="tabpanel">

<div class="[ col-xs-8 col-sm-12 ]">

<!-- Tab panes -->

<!-- First pane -->

<form id="searchFormComp1">
                <h1 class="bold" style="margin-left: -40px; ">Search for Companies</h1>

                {{ search_form.category }}

                <div class="nav nav-justified navbar-nav">
                    <div class="input-group">
                        {{ search_form.query }}
                        <div class="input-group-btn">
                            <button type="submit"
                                    class="btn btn-search btn-danger"
                                    form="searchFormComp1" name="submit" value="1">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="label-icon">Search</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">

             

                        <!-- Subcategories -->

{#                        <h2 class="bold"#}
{#                            style="margin-left: 5px; padding-top: 20px;">Filter companies by their products' categories</h2>#}
{##}
{#                        <div style="padding-top: 10px;">#}
{#                            <h4 class="bold"#}
{#                                style="display: inline-block; color: white; padding-right: 10px;">#}
{#                                Category: </h4>#}
{##}
{#                            <div class="btn-group">#}
{#                                <button class="btn btn-danger" type="button"#}
{#                                        style="width: 360px;" id="menu1company">#}
{#                                    Any Category#}
{#                                </button>#}
{#                                <button data-toggle="dropdown"#}
{#                                        class="btn btn-danger dropdown-toggle"#}
{#                                        id="dropSubcategories1" type="button"#}
{#                                        name="change"><span#}
{#                                        class="caret"></span></button>#}
{#                                #}
{#                                #}
{#                                <ul class="dropdown-menu scrollable-menu"#}
{#                                    id="dropdown-company1" role="menu"#}
{#                                    style="height: auto; max-height: 150px; overflow-x: hidden; width: 100%;">#}
{#                                    <a>#}
{#                                        <li class="wrapTxt">Any Category<span#}
{#                                                    class="mask"></span></li>#}
{#                                    </a>#}
{#                                    #}
{#                                    <a>#}
{#                                        <li class="wrapTxt">Category 1<span#}
{#                                                class="mask"></span></li>#}
{#                                    </a>#}
{##}
{#                                    <a>#}
{#                                        <li class="wrapTxt">Category 2<span#}
{#                                                class="mask"></span></li>#}
{#                                    </a>#}
{##}
{#                                    <a>#}
{#                                        <li class="wrapTxt">Category 3<span#}
{#                                                class="mask"></span></li>#}
{#                                    </a>#}
{#                                    #}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}

                        <div>

                              <h4 class="bold" style="display: inline-block; color: white;padding-right:20px; padding-top: 20px;">Order by: </h4>

                              <div class="btn-group">                            

                                <button class="btn btn-danger"  type="button" style="width:360px; " id="menu2company">Alphabetic Ascending</button>

                                <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle" id="drop" type="button"><span class="caret"></span></button>

                                {{ search_form.order }}

                                <ul class="dropdown-menu" role="menu" style="height: auto; max-height: 180px; overflow-x: hidden; padding-left: 10px; width: 100%;" id="dropdown-company2">
                                  <a>
                                        <li class="wrapTxt">Alphabetic Ascending<span
                                                    class="mask"></span></li>
                                    </a>
                                    
                                    <a>
                                        <li class="wrapTxt">Alphabetic Descending<span
                                                class="mask"></span></li>
                                    </a>

                                    <a>
                                        <li class="wrapTxt">Relevance Ascending<span
                                                class="mask"></span></li>
                                    </a>

                                    <a>
                                        <li class="wrapTxt">Relevance Descending<span
                                                class="mask"></span></li>
                                    </a>
                                </ul>
                              </div>
                            </div>

                        <!-- Order for first tab -->

                    </div>
                </div>
            </form>
</section>
<!--/#services-->


<section id="blog" class="container">


    <div class="container wow fadeInDown" data-wow-duration="1000ms"
         data-wow-delay="600ms">

        <div class="row">

            <div class="col-md-12">
                <div class="container">
                    <table class="table table-striped">
                        <col width="400">
                        <col width="500">
                        <thead class="tables"
                               style="font-size: 25px; color: #ff8080;">
                        <tr>
                            <th>Company</th>
                            <th>Description</th>
                        </tr>
                        </thead>

                        <tbody>

                            {% for row in companies %}

                            <!-- Another company goes here -->

                            <tr class="selectableProduct clickable-row" data-href="/companies/details/{{ row.comp_id }}">
                                <td>
                                    <div style="float: left; height: 180px; margin-right: 15px; width: 140px; background: white;">
                                        <img src="{% static row.image_link %}" alt="Product Image - {{ row.name }}" style="{{ row.style }}">
                                    </div>
                                    <h4><b>{{ row.name }}</b></h4>
                                </td>

                                <td class="point prodDescription">
                                    <div class="cropDescription">
                                    {{ row.description | safe }}
                                    <div class="fadedDescription"></div>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->

                <div class="text-center">
                <ul class="pagination pagination-lg">
                    <li><a href="{{ page_token_link_first }}"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="{{ page_token_link_prev }}"><i class="fa fa-angle-left"></i></a></li>
                    {% if page_token_1 <= last_page %}<li {%  if current_page == page_token_1 %}class="active"{% endif %}><a href="{{ page_token_link_1 }}">{{ page_token_1 }}</a></li>{% endif %}
                    {% if page_token_2 <= last_page %}<li {%  if current_page == page_token_2 %}class="active"{% endif %}><a href="{{ page_token_link_2 }}">{{ page_token_2 }}</a></li>{% endif %}
                    {% if page_token_3 <= last_page %}<li {%  if current_page == page_token_3 %}class="active"{% endif %}><a href="{{ page_token_link_3 }}">{{ page_token_3 }}</a></li>{% endif %}
                    {% if page_token_4 <= last_page %}<li {%  if current_page == page_token_4 %}class="active"{% endif %}><a href="{{ page_token_link_4 }}">{{ page_token_4 }}</a></li>{% endif %}
                    {% if page_token_5 <= last_page %}<li {%  if current_page == page_token_5 %}class="active"{% endif %}><a href="{{ page_token_link_5 }}">{{ page_token_5 }}</a></li>{% endif %}
                    <li><a href="{{ page_token_link_next }}"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="{{ page_token_link_last }}"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Top Companies</h2>
            <p class="lead">Descriere</p>
        </div>

        <div class="partners">
            <ul>
                <li>
                    <a href="{% url 'company:details' comp_id=428 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{% static 'global/images/partners/cocacola.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=83 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{% static 'global/images/partners/applelogo.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=1652 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{% static 'global/images/partners/pringleslogo.png' %}">
                    </a>
                </li>
                <li>
                    <a href="{% url 'company:details' comp_id=1800 %}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{% static 'global/images/partners/samsung.png' %}">
                    </a>
                </li>
                <li>
                    <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{% static 'global/images/partners/nike.png' %}">
                    </a>
                </li>

                </ul>
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/#partner-->
{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/jquery.js' %}"></script>
<script src="{% static 'global/js/bootstrap.min.js' %}"></script>
<script src="{% static 'global/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'global/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'global/js/main.js' %}"></script>
<script src="{% static 'global/js/wow.min.js' %}"></script>
{% endblock %}