{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <section id="loginform" class="container">

        <div class="container" style="padding-top: 85px; width:60%">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class=""><a href="{% url "account_login" %}">Sign In</a></li>
                    <li class="active"><a href="#signup">Register</a></li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in " id="signup">
                    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                        {% csrf_token %}
                        {{ form | bootstrap }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}